<center>
h1 ESTAS REGISTRADO

h3 Tus datos son: 

h5 Tu email:
p!=datos.email
br
h5 Tu nombre:
p!= datos.nombre
br
h5 Tu genero:
p!= datos.genero
br
h5 Tu generos de videojuegos favoritos:
p!= datos.generoVideojuego 
br
h5 Tu pais:
p!= datos.paises 
br
h5 Tu foto:
p!= datos.file 

form(action="volver", method="POST")
 <input type="submit" name="volver" value="Volver" style="color:blue;height:60;width:100px;">



 

